@import '../../styleVariables.scss';

#control-panel-container{
  height: 100%;
  // white-space: nowrap;
  overflow:visible;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 150px;
  min-width: 150px;
  padding: 0 10px;
  margin: 0 0 0 10px;
  .sizeButtons{
    display: flex;
    height: 5%;
    justify-content: space-between;
    button{
      display: flex;
      height: 100%;
      width: 30%;
      justify-content: center;
      align-items: center;
      font-size: large;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $blue;
    padding: 5%;
    height: 5%;
    color: $squirtle;
    border: 1px solid $squirtle;
    box-shadow: 0px 0px 3px $white;
  }
  #rules-button {
    text-overflow: wrap;
    white-space: pre-wrap;
    text-align: center;
    font-family: arial;
    font-size: 13.3333px;
    background-color: $blue;
    color: $squirtle;
    border: 1px solid $squirtle;
    box-shadow: 0px 0px 3px $white;

    #rules-summary {
      margin-left: 33%;
      margin-right: 33%;
    }
    #rules-details {
      font-size: 10px;
      border-bottom: 1px solid $squirtle;
      border-right: 1px solid $squirtle;
      background-color: $blue;
      color: $squirtle;
    }
  }
  .speedSlider {
    height: 80%;
    margin: 30px 25% 0 0;
  }
}