@import '../../styleVariables.scss';

.alive,.dead {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid $lightblue;
    margin: -1px;
    &:hover {
        cursor: crosshair;
    }
    img{
        position: relative;
        flex-shrink: 0;
        max-height: 120%;
        z-index: 1;
    }

}
.alive{
    background-color: $white;
}
.dead{
    background-color: $white;
}