@import './styleVariables.scss';

body {
  background-color: $black;
  overflow:hidden;
}

#app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#main{
  display: flex;
  height: 90%;
  z-index: 2;
}
#footer{
  display: flex;
  justify-content: center;
  margin: 10px;
  height: 10%;
}
.board-container{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  z-index: -1;
  height: 100%;
  width: 80%;
}
#board{
  height: 85%;
  width: 100%;
  box-shadow: 0px 0px 2px $white;
  z-index: -1;
}

.speedSliderContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    margin: 5px;
  }
  color: $squirtle;
  background-color: $blue;
  height: 70%;
  border: 2px ridge $squirtle;
  box-shadow: 0px 0px 2px $white;
  .speedSlider{
    text-align: left;
    height: 250px;
    .MuiSlider-rail{
      color: $darkblue;
      width: 10%;
    }
    .MuiSlider-track{
      color: $squirtle;
      width: 10%;
    }
    .MuiSlider-markLabel{
      left: 50px;
      color: $squirtle;
    }
    .MuiSlider-thumbColorPrimary{
      color: $darkblue;
    }
    .MuiSlider-mark, .css-udnwse-MuiSlider-mark{
      color: $black;
      background-color: $black;;
    }
  }
}