@import './styleVariables.scss';

body {
  background-color: $black;
}

#app{
  display: flex;
  height: 100vh;
  width: 100vw;
}

#board{
  height: 75%;
  width: 75%;
  box-shadow: 0px 0px 2px $white;
}

.speedSliderContainer{
  h2{
    margin: 5px;
  }
  color: $squirtle;
  background-color: $blue;
  height: 70%;
  border: 2px ridge $squirtle;
  box-shadow: 0px 0px 2px $white;
  .speedSlider{
    text-align: left;
    height: 250px;
    .MuiSlider-rail{
      color: $darkblue;
    }
    .MuiSlider-track{
      color: $squirtle;
    }
    .MuiSlider-markLabel{
      color: $squirtle;
    }
    .MuiSlider-thumbColorPrimary{
      color: $darkblue;
    }
    .MuiSlider-mark, .css-udnwse-MuiSlider-mark{
      color: $black;
      background-color: $black;;
    }
  }
}

#control-panel-container{
  white-space: nowrap;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 75%;
  width: 15%;
  padding: 0 10px;
  margin: 0 0 0 10px;
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $blue;
    padding: 5%;
    height: 5%;
    color: $squirtle;
    border: 1px solid $squirtle;
    box-shadow: 0px 0px 3px $white;
  }
}

#rules-button {
  text-align: left;
}