h1 {
  color: red;
  background-color: blue;
}
#app{
  height: 750px;
  width: 1500px;
}

#board{
  height: 75%;
  width: 75%;
}

.speedSlider{
  h2{
    margin:5px;
  }
  margin-left:20px;
}

#rules-button {
  text-align: left;
}